<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat({{theme.max_products_per_row}}, calc(100% / {{theme.max_products_per_row}}));
    align-content: center;
  }
  @media only screen and (max-width: 767px) {
    .grid-container {
      grid-template-columns: repeat({{theme.max_products_per_row_mobile}}, calc(100% / {{theme.max_products_per_row_mobile}}));
    }
  }
  .grid-item {
    border-radius: 5px;
    padding: 8px;
  }
  div.image-tall {
    {% if theme.featured_items > 0 %}
    grid-row: auto / span {{theme.featured_items}} !important;
    {% else %}
    background-color: rgba(127,127,255,0.01);
    {% endif %}
  }
  div.image-wide {
    grid-column: span 2;
  }
  img {
    max-width: 100%;
  }
  img.image-wide {
    width: 100%;
  }
  div.image-wrapper {
    position: unset;
    display:  unset;
    align-items:     center;
    justify-content: center;
    height:   100%;
    width:    100%;
  }
</style>

{% if theme.image_sets.slideshow.size > 0 %}
      <div class="grid-container">
        {% for image in theme.image_sets.slideshow %}
          {% capture image_class %}
            {% if image.height > image.width %}
              image-tall
              {% if theme.grid_image_style == 'crop-to-square' %}
                {% assign image_constrain_height = '-' %}
                {% assign image_constrain_height_large = '-' %}
                {% assign thumb_constrain_height = '-' %}
              {% endif %}
            {% elsif image.height < image.width %}
              image-wide
              {% if theme.grid_image_style == 'crop-to-square' %}
                {% assign image_constrain_width = '-' %}
                {% assign image_constrain_width_large = '-' %}
                {% assign thumb_constrain_width = '-' %}
              {% endif %}
            {% else %}
              image-square
            {% endif %}
          {% endcapture %}
          {% assign image_class = image_class | replace: ' ', ''  | strip_newlines %}
            <div class="grid-item {{image_class}} image-wrapper">
              {% if image_class == 'image-wide' %}
                {% assign image_constrain_width  = image_constrain_width*2 %} 
                {% assign image_constrain_width_large = image_constrain_width | times: 2 %}
              {% elsif image_class == 'image-tall' %}
              {% else %}
              {% endif %}
              <img alt="{{image}}" class="lazy {{image_class}}" src="{{ image.url | constrain: thumb_constrain_width,thumb_constrain_height }}" data-src="{{ image.url | constrain: image_constrain_width, image_constrain_height }}" data-srcset="{{ image.url | constrain: image_constrain_width_large, image_constrain_height_large }} 2x, {{ image.url |constrain: image_constrain_width, image_constrain_height }} 1x">
            </div>

        {% endfor %}
      </div>
    {% else %}
      <div class="empty-products centered-message"><!-- No images found.--></div>
{% endif %}
